<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
  </head>
  <body>
  
    <div class="Rectangle">
      
      <nav class="Inicio-Acerca-de-nos">
        <ul>
          <li><a href="#" class="text-style-1">Inicio</a></li>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="#">Historia</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
  
     
      <div class="social-icons">
        <img src="{{ 'group-23.svg' | asset_url }}" alt="LinkedIn" width="" height="">
        <img src="{{ 'group-24.svg' | asset_url }}" alt="Vimeo" width="" height="">
        <img src="{{ 'group-25.svg' | asset_url }}" alt="Instagram" width="" height="">
        <img src="{{ 'group-22.svg' | asset_url }}" alt="Twitter" width="" height="">
        <img src="{{ 'group-26.svg' | asset_url }}" alt="Facebook" width="" height="">
      </div>
      <img src="{{ 'fill-2.png' | asset_url }}"
           srcset="{{ 'fill-2@2x.png' | asset_url }} 2x,
                   {{ 'fill-2@3x.png' | asset_url }} 3x"
           class="Fill-2" alt="Logo"
           width="" height="">
    </div>
  
  </body>
  </html>
  