<html lang="en">
  <body>
    <div class="rectangle">
      <div class="f-container">
        <div class="container">
          <div class="tennis">TENNIS</div>
          <span class="RaquetasAccesorios">Raquetas.Accesorios.</span>
        </div>
        <div>
          <span class="Pelotas">Pelotas.</span>
        </div>
        <span class="Conoce-nuestras-raqu">Conoce nuestras raquetas y aprende a jugar .</span>
        <span class="Conoce-nuestras-raquetas">Tennis como un profesional.</span>
      </div>
      <button class="button-second-section">HISTORIA →</button>
    </div>
  <div class="carousel-and-text">
    <div class="container-second-section">
      <div class="carousel-container">

        <div class="carousel-wrapper">
          <div class="carousel-item">
            <div class="img-container">
              <img src="{{ 'section-two-ball.png' | asset_url }}" alt="Pelota de tenis" width="" height="">
              <div class="text-overlay">
                <h3>Nuestras <span>Raquetas</span></h3>
                <p>Conoce nuestras raquetas y aprende a jugar Tennis como un profesional.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-container">
              <img src="{{ 'section-two-ball.png' | asset_url }}" alt="Pelota de tenis" width="" height="">
              <div class="text-overlay">
                <h3>Nuestras <span>Raquetas</span></h3>
                <p>Conoce nuestras raquetas y aprende a jugar Tennis como un profesional.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-container">
              <img src="{{ 'section-two-ball.png' | asset_url }}" alt="Pelota de tenis" width="" height="">
              <div class="text-overlay">
                <h3>Nuestras <span>Raquetas</span></h3>
                <p>Conoce nuestras raquetas y aprende a jugar Tennis como un profesional.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-container">
              <img src="{{ 'section-two-ball.png' | asset_url }}" alt="Pelota de tenis" width="" height="">
              <div class="text-overlay">
                <h3>Nuestras <span>Raquetas</span></h3>
                <p>Conoce nuestras raquetas y aprende a jugar Tennis como un profesional.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="carousel-dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        
        <div class="custom-arrows">
          <button class="custom-prev"></button>
          <button class="custom-next"></button>
        </div>

      </div>
   </div>
   <div class="slider-container">
    <div class="image-container">
      <div class="image-wrapper">
        <span class="number">1</span>
        <img src="{{ 'group-11@3x.png' | asset_url }}" alt="Imagen 1" width="" height="">
      </div>
      <div class="image-wrapper">
        <span class="number">2</span>
        <img src="{{ 'group-11@3x.png' | asset_url }}" alt="Imagen 2" width="" height="">
      </div>
      <div class="image-wrapper">
        <span class="number">3</span>
        <img src="{{ 'group-11@3x.png' | asset_url }}" alt="Imagen 3" width="" height="">
      </div>
    </div>
  </div>
</div>
<script src="{{ 'carousel.js' | asset_url }}" defer></script>
  </body>
</html>
